:root {
  --background-clr: #f1f0e8;
  --primary-clr1: #f8efba;
  --primary-clr2: #c9d59c;
  --primary-clr3: #97bc84;
  --secondry-clr1: #62a373;
  --secondry-clr2: #1c8967;
  --accent-clr1: #006f5f;
}
body {
  margin: 30px;
  background-color: var(--background-clr);
}
/* header-begins */
header {
  display: flex;
  margin-bottom: 60px;
}
.image {
  width: 500px;
}
.image > img {
  width: 200px;
}
.image > p {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
}
header ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
header ul > li:hover {
  border-bottom: solid 2px var(--secondry-clr2);
  color: blueviolet;
}
/* header-ends */
/* margin-begins */
h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-head {
  display: flex;
}
.section-1,
.section-2 {
  width: 50%;
}
h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* Footer */
footer {
  margin-bottom: 30px;
}
.footer-logo {
  margin-left: 630px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.footer-logo img {
  width: 150px;
}
/* Footer-Para */
footer p {
  margin: 0px;
  font-size: 19px;
}
/* Anchor */
a {
  text-decoration: none;
}
.quick-links li {
  list-style-type: none;
}
.quick-links {
  display: flex;
  justify-content: space-around;
}
.quick-links img {
  width: 150px;
}
/* Footer-image  */
#Boy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Women {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Viper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Girls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15px;
}
#Kids {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15px;
}
/* Address */
address {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
/* Address Ends */
/* Footer-Ends */
